<h3>Application Form</h3>

Applying for <%= @job.title %> at <%= @job.company_name %><br>
<%= @job.description %>


<%= form_for @application, url: {action: "create"} do |f| %>

    <% if @application.errors.any? %>
    <div id="error_explanation">
    <h4>There were some errors:</h4>
  
    <ul>
    <% @application.errors.full_messages.each do |message| %>
      <li><%= message %> </li>
      <% end %>
      </ul>
      </div>
      <% end %>

   
    
    <label>Email:</label><br>
    <%= f.hidden_field :job_id %>

    <%= f.text_field :email %><br> 

    <label>Qualifications</label><br>
    <%= f.text_area :qualifications %><br>

    <%= f.hidden_field :user_id, :value => @user.id %>
    <%=  f.hidden_field :applicant_id, :value => @user.id unless @application.applicant_id %>

    <%= f.submit %>
    <% end %>

    <%= link_to "Back to All Jobs", jobs_path %> 