<h3>Application Form</h3>

Applying for <%= @job.title %> at <%= @job.company %><br>
<%= @job.description %>


<%= form_for(job_applications_path) do |f| %>
    
    <label>Email:</label><br>
    <%= f.hidden_field :job_id %>

    <%= f.text_field :email %><br>

    <label>Qualifications</label><br>
    <%= f.text_area :quailifications %><br>
    <%= f.submit %>
    <% end %>