<h3>Application Form</h3>

Applying for <%= @job.title %> at <%= @job.company_name %><br>
<%= @job.description %>


<%= form_for @application, url: {action: "create"} do |f| %>
    
    <label>Email:</label><br>
    <%= f.hidden_field :job_id %>

    <%= f.text_field :email %><br>

    <label>Qualifications</label><br>
    <%= f.text_area :qualifications %><br>
    <%= f.submit %>
    <% end %>