<h3>Application Show</h3>

<%= @application.job.title %> | <%= @application.job.company_name %> | <%= @application.job.location %> <br>
Application Date:<%= @application.created_at.strftime("%m/%d/%y") %><br>
<%= @application.job.description %> <br>

<h4>Application Information</h4>

<p>Email:  <%= @application.email %><br>
Qualifications: <%= @application.qualifications %></p><br>

<%= link_to 'Delete', application_path(@application),
data: {:confirm => 'Are you sure?'}, :method => :delete %><br>

<%= link_to 'My Jobs', user_path(@user) %> 