<h1>Jobs Show</h1>
<%= @job.title %><br>
<%= @job.location %><br>
<%= @job.company_name %><br>
<%= @job.salary %>K<br>
<%= @job.description %><br>

<% if @user.id == @job.company_id %>

<%= link_to 'Delete', job_path(@job),
data: {:confirm => 'Are you sure?'}, :method => :delete %><br>


<% else %>
<%= link_to "Edit Job", edit_job_path %>
<%= link_to "Apply to Job", new_job_application_path(@job) %> <br>
<% end %>
