<h3>Job Details</h3>
<%= @job.title %><br>
Posted: <%= @job.created_at.strftime("%m/%d/%y") %><br>
<%= @job.company_name %><br>
<%= @job.location %><br>
<%= @job.salary %>K<br>
<%= @job.description %><br>
<br>
<% if @job.company_id != nil &&  @user.id == @job.company_id %>

<%= link_to 'See Applicants', job_job_applications_path(@job) %><br>
<br>
<br>

<%= link_to "Edit Job", edit_job_path %> |

<%= link_to 'Delete Job', job_path(@job),
data: {:confirm => 'Are you sure?'}, :method => :delete %><br>
<br>



<% elsif @user.role == "applicant" %>

<%= link_to "Apply For Job", new_job_job_application_path(@job) %> <br>

<% end %><br>

<% if @user.role == "company" %>
<%= link_to "Post New Job", new_job_path %> |
<% end %>


<%= link_to 'My Jobs', user_path(@user.id) %> |

<%= link_to "All Jobs", jobs_path %> |

<%= link_to "Log Out", signout_path %>
