<h3>Edit User</h3>

<%= form_for @user do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

      

      <label for="user_role">Choose the type of User you are: </label>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %><br>
    <br>
    
    <%= f.submit "Edit User" %>
    <% end %> <br>
    <br>

    <%= link_to 'My Jobs', user_path(@user) %> |
    <%= link_to "Back to All Jobs", jobs_path %> |
    <%= link_to "Log Out", signout_path %>
