<h3>New User Sign Up</h3><br>





<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
  <h2>There were some errors:</h2>

  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %> </li>
    <% end %>
    </ul>
    </div>
    <% end %>
    
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <br>
      

      <label for="user_role">Choose the type of User you are: </label>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %><br>
    <br>
    <%= f.submit "Create User" %>
    <% end %><br> 

    <%= link_to "Home", root_path %> |
    <%= link_to "All Jobs", jobs_path %>