<h3>Hi <%= @user.name %> </h3>
  <h4> Type: <%= @user.role %></h4>



<% if @user.role == "applicant" %>
  <h4>Jobs Applied To</h4>
<% @user.applications.each do |application| %>
    <%= application.job.title %> | <%= application.job.company_name %><br>
    <% end %>
    <br>
    <% end %>

    <% if @user.role == "company" %>
    <h4>Jobs Posted</h4>
    <% @user.jobs.each do |job| %>
      <%= job.title %> |  <%= job.location %><br>
      <% end %>
      <% end %>

      
    

<% if @user.role == "company" %>
<%= link_to "Post New Job", new_job_path %><br>
<% end %>

<%= link_to "Edit User", edit_user_path %><br>

<%= link_to "See all jobs", jobs_path %><br>

<%= link_to "Log Out", signout_path %>