

Applying for <%= @job.title %> at <%= @job.company_name %><br>
<%= @job.description %><br>
<br>


<%= form_for @job_application do |f| %>

    <% if @job_application.errors.any? %>
    <div id="error_explanation">
    <h4>There were some errors:</h4>
  
    <ul>
    <% @job_application.errors.full_messages.each do |message| %>
      <li><%= message %> </li>
      <% end %>
      </ul>
      </div>
      <% end %>
      <br>

   
    
    <label>Name:</label><br>
    <%= f.hidden_field :job_id %>

    <%= f.text_field :name %><br>

    <label>Email:</label><br>
    <%= f.text_field :email %><br> 

    <label>Years of Experience:</label><br>
    <%= f.text_field :years_of_experience %><br>

    <label>Qualifications</label><br>
    <%= f.text_area :qualifications %><br>

    <%= f.hidden_field :user_id, :value => @user.id %>
    <%=  f.hidden_field :applicant_id, :value => @user.id unless @job_application.applicant_id %>
      <br>
    <%= f.submit %>
    <% end %><br>
      <br>
    
    <%= link_to 'My Jobs', user_path(@user.id) %> |

    <%= link_to "All Jobs", jobs_path %> |

    <%= link_to "Log Out", signout_path %>