<h3>Job Application Show</h3>

<%= @job_application.job.title %> | <%= @job_application.job.company_name %> | <%= @job_application.job.location %> <br>
Application Date:<%= @job_application.created_at.strftime("%m/%d/%y") %><br>
<%= @job_application.job.description %> <br>

<h4>Job Applicant Information</h4>

<p>Name: <%= @job_application.name %><br>
Email:  <%= @job_application.email %><br>
Years of Experience: <%= @job_application.years_of_experience %><br>
Qualifications: <%= @job_application.qualifications %></p><br>

<% if @user.role == "applicant" %>

<%= link_to "Edit Application", edit_job_application_path(@job_application) %> |

<%= link_to 'Delete', job_application_path(@job_application),
data: {:confirm => 'Are you sure?'}, :method => :delete %><br>

<%= link_to 'My Jobs', user_path(@user) %> 

<% elsif @user.role == "company" %>

<%= link_to "Go Back to All Applicants" %> 


<% end %>