<h3>Job Applied For</h3>

<%= @job_application.job.title %> | <%= @job_application.job.company_name %> | <%= @job_application.job.location %> <br>
Application Date:<%= @job_application.created_at.strftime("%m/%d/%y") %><br>
<%= @job_application.job.description %> <br>
<br>
<br>

<h3>Job Application</h3>

<p>Name: <%= @job_application.name %><br>
Email:  <%= @job_application.email %><br>
Years of Experience: <%= @job_application.years_of_experience %><br>
Qualifications: <%= @job_application.qualifications %></p><br>

<% if @user.role == "applicant" %>

<%= link_to "Edit Application", edit_job_application_path(@job_application) %> |

<%= link_to 'Delete Application', job_application_path(@job_application),
data: {:confirm => 'Are you sure?'}, :method => :delete %><br>
<br>



<% elsif @user.role == "company" %>

<%= link_to "All Applicants", job_job_applications_path(@job) %> |

<% end %>

<%= link_to 'My Jobs', user_path(@user) %> |
<%= link_to "All Jobs", jobs_path %> |
<%= link_to "Log Out", signout_path %>