<!DOCTYPE html>
<html>
  <head>
    <title>TopJobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
  <div id="app-container">
	<%= link_to 'All Jobs', jobs_path, id: 'all-jobs-link' %> |
	<%= link_to 'New Job', new_job_path %> |
	<%= link_to 'All Users', users_path, id: 'all-users-link' %>
	<hr>
	<div id="all-jobs-div">*************  ALL JOBS LIST HERE *************</div>

  <br>
  <br>
  <br>
	<hr>
	<hr>
	    <% if !flash.empty? %>
    <div id="flash" class="flash-message"> 
        <% flash.keys.each do |k| %> 
            <div class="<%= k %>">
                <%= flash[k] %>
            </div>  
        <% end %>   
    </div>
		<% end %>

    <%= yield %>

    </div>
  </body>
</html>
